body {

background-image: url(../../Downloads/bb3.jpg);
background-position: center;

}

h2 {
  color: orangered;
    font-size: 3rem;         
    font-weight: bold;     
    text-align: center;
    padding: 20px;           
    background-color: #f8f9fa; 
    border-radius: 10px;     
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
  
}

  
  
  .container {
    max-width: 900px;
  }
  
  .nav-tabs .nav-link {
    font-weight: bold;
  }
  
  .nav-tabs .nav-link {
    color: #881edf !important;
    font-weight: bold;
  }
  
  .nav-tabs .nav-link.active {
    background-color: white !important;
    color: #0ac6a7 !important; 
  }
  
  .nav-tabs .nav-link:hover {
    color: rgba(238, 80, 17, 0.505) !important;
  }
  
  .card img {
    height: 180px;
    object-fit: cover;
  }
  
  .search-input {
    max-width: 500px;
    margin: auto;
    display: block;
  }
  
  
  .btn-info {
    font-weight: bold;
  }
  
  .book-container {
    margin: auto;
    width: 80%;
  }